{{yield}}

  <div class='row'>
    <h2>{{#link-to "host" host.ip}}Rabbi Host @ {{host.ip}}{{/link-to}}</h2>
  </div>
  <div class='row'>
    <h3>Actors</h3>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Identity</th>
          <th scope="col">Host IP</th>
          <th scope="col">Exchange</th>
          <th scope="col">Routing Key</th>
          <th scope="col">Queue</th>
        </tr>
      </thead>
      <tbody>
        {{#each host.actors as |actor|}}
          <tr>
            <td>{{actor.id}}</td>
            <td>{{actor.ip}}</td>
            <td>{{actor.exchange}}</td>
            <td>{{actor.routingkey}}</td>
            <td>{{actor.queue}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{#if host.mem}}

    <div class='row'>
      <h3>System Resources</h3>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Stat</th>
            <th scope="col">Total Used</th>
            <th scope="col">Total Available</th>
            <th scope="col">% Use</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Disk</td>
            <td>{{host.disk.used}}</td>
            <td>{{host.disk.size}}</td>
            <td>{{host.disk.percent_used}} %</td>
          </tr>
          <tr>
            <td>Memory</td>
            <td>{{host.mem.used}}</td>
            <td>{{host.mem.total}}</td>
            <td>{{host.mem.percent_used}} %</td>
          </tr>

        </tbody>
      </table>
    </div>
  {{/if}}

  {{#if host.docker}}
    <div class='row'>
      <h3>Containers</h3>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Docker Image</th>
            <th scope="col">Container Name</th>
            <th scope="col">Command</th>
            <th scope="col">State</th>
          </tr>
        </thead>
        <tbody>
          {{#each host.docker as |container|}}
            <tr>
              <td>{{container.image}}</td>
              <td>{{container.name}}</td>
              <td>{{container.command}}</td>
              <td>{{container.state}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
